# dependencies
node_modules
.pnpm-store

# next
.next
out

# build
dist
build

# misc
.DS_Store
*.pem
.env*.local

# debug
npm-debug.log*
pnpm-debug.log*

# types
next-env.d.ts

# ide
.idea
*.swp
*.swo
